@mixin regular-button () {
	text-transform: uppercase;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 0.05em;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 38px;
	height: 38px;
	white-space: nowrap;
}

@mixin rounded-button () {
	text-transform: uppercase;
	border-radius: 30px;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 0.05em;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 38px;
	height: 38px;
	white-space: nowrap;
}