@import "./_mixins.scss";
@import "../_vars.scss";

button {
	outline: none!important;
}

.regular-button {
	@include regular-button();
	background-color: $primaryGreen;
	color: #fff;
	position: relative;

	&:hover {
		box-shadow: 2px 2px 22px #aaa;

		label {
			box-shadow: 2px 8px 20px #555;
		}
	}


	&--rounded {
		@include rounded-button();
		background-color: $primaryGreen;
		color: #fff;
		position: relative;

		&:hover {
			box-shadow: 2px 2px 22px #aaa;

			label {
				box-shadow: 2px 8px 20px #555;
			}
		}

		label {
			position: absolute;
			right: 0;
			top: 0;
			background-color: #fff;
			color: $primaryGreen;
			border-radius: 50%;
			padding: 4px 5px;
			line-height: 22px!important;
			width: 30px;
		}
	}

	&--rounded-transparent {
		@include rounded-button();
		background-color: transparent;
		color: $primaryGreen;
		border: 1px solid $primaryGreen;
		line-height: 36px;

		&:hover {
			background-color: $primaryGreen;
			color: #fff;
		}
	}
	/* 
		--icon-text
		--as-text
	*/
}