@import "./_vars.scss";

.styleguide-section {
	width: 100%;
	padding: 20px 10px;
	border-bottom: 2px solid $baseBlack;
	font-family: "ProximaNova Regular";

	&__title {
		margin: 0;
	}

	&__sub-categories-list {
		margin-bottom: 0;
		counter-reset: myCounter;
	}

	&__sub-title {
		font-size: 1.2rem;
	}

	&__sub-category {
		border-bottom: 1px solid $subCategoryBase;
		padding: 30px 20px;
		list-style: none;

		&:before {
			counter-increment: myCounter;
			content: counter(myCounter)'.';
			font-size: 1.2rem;
		}
	}

	&__demo {
		margin-top: 10px;
		padding: 20px 0;
		border-top: 1px dashed $lightGrey;
		border-bottom: 1px dashed $lightGrey;
	}

	&__usage {
		width: 30rem;
		margin-top: 20px;
		position: relative;

		pre {
			white-space: initial;
			margin-bottom: 0;
		}

		.copy-code-btn {
			position: absolute;
			right: 0;
			outline: none!important;
			border: 0px;
			background: transparent;
			cursor: pointer;
			opacity: 0.3;

			&:hover {
				color: $hoverOnGrey;
				opacity: 1;
			}
		}
	}

	&__usage-lang {
		font-family: "ProximaNova SemiBold";
		font-size: 1rem;
		margin-bottom: 0;
		display: inline-block;
		color: $subCategoryBase;
	}
}